*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

a{
    text-decoration: none;
}

:root{
    --color-primary: #ed4d1b;
    --color-secondary: #ff9a3c;
    --color-black: #000;
    --color-with: #fff;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary)
}

.text-center {
    text-align: center;
}